/*Custom Styles*/

/*General*/

* {
  box-sizing: border-box;
}
.container {
  width: 80%;
  margin: 0 auto;
}

.header {
  background-color: #222946;
}

.header-flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 72px;
}

h2 {
  font-size: 42px;
  font-family: monospace;
  text-align: center;
  padding: 40px 0;
}

/*Header*/

.nav a {
  color: #fff;
  text-decoration: none;
  font-size: 24px;
  margin-left: 40px;
}

#green {
  color: #5cb668;
}

/*Gallery*/

.gallery img {
  width: 30%;
  margin: 20px 0;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: space-between;
}

/*Footer*/

.footer {
  background-color: #222946;
}

.footer-flex {
  height: 100px;
}

.copyright {
  color: #fff;
  font-size: 24px;
}
